{% extends 'base.html' %} 
{% load static %}
{% block content %}
    <main class="l-main">
        <!--========== HOME ==========-->
        <section class="home" id="home">
            <div class="home__container bd-container bd-grid">
                <div class="home__data">
                    <h1 class="home__title">Persianas Boutique</h1>
                    <h2 class="home__subtitle">Adquiere el mejor servicio en persianas<br>aquí.</h2>
                    <a href="#" class="button">Todos Nuestros Precios</a>
                </div>

                <img src="{% static 'img/home.jpeg' %}" alt="" class="home__img">
            </div>
        </section>

        <!--========== ABOUT ==========-->
        <section class="about section bd-container" id="about">
            <div class="about__container  bd-grid">

                <div class="about__data">
                    <span class="section-subtitle about__initial">Nuestros Productos</span>
                    <h2 class="section-title about__initial">Sheer poliéster<br>
                        <!-- tasty food -->
                    </h2>
                    <p class="about__description">La persiana Sheer Elegance Poliéster es un elemento decorativo utilizado en espacios de todo tipo, caracterizado por un elegante tejido en Jacquard, con material fabricado 100% en Poliéster y compuesto por dos clases de franjas horizontales.</p>
                    <!--  <a href="#" class="button">Ver más</a>  -->
                </div>
                <div class="about__data">
                    <img src="{% static 'img/about.jpeg' %}" alt="" class="about__img">
                    <a href="#" class="button">Ver más</a>
                </div>
                <!-- <img src="assets/img/about.jpeg" alt="" class="about__img"> -->


            </div>
        </section>

        <!--========== SERVICES ==========-->
        <section class="services section bd-container" id="services">
            <span class="section-subtitle">Offering</span>
            <h2 class="section-title">Our amazing services</h2>

            <div class="services__container  bd-grid">
                <div class="services__content">
                    <img src="{% static 'img/instalacion.png' %}" alt="">

                    <h3 class="services__title">Servicio de Instalación</h3>
                    <p class="services__description">Para venderle, o para instalar, estamos para servirle. Somos empresa líder en la venta e instalación de productos para el control solar, para casas, oficinas, pequeñas y grandes empresas.</p>
                </div>

                <div class="services__content">
                    <img src="{% static 'img/cortina80.png' %}" alt="">
                    <h3 class="services__title">Materiales</h3>
                    <p class="services__description">Tenemos muchos tipos de protecciones solares para utilizar en las ventanas; cortinas de tela, toldos, estores…etc.</p>
                </div>

                <div class="services__content">
                    <img src="{% static 'img/delivery.png' %}" alt="">
                    <h3 class="services__title">Delivery</h3>
                    <p class="services__description">Ofrecemos solución integral en envíos garantizados de nuestros productos.</p>
                </div>
            </div>
        </section>

        <!--========== MENU ==========-->
        <section class="menu section bd-container" id="menu">
            <span class="section-subtitle">Productos</span>
            <h2 class="section-title">Nuestros Productos Más Cotizados</h2>

            <div class="menu__container bd-grid">
                {%  for cortina in prod %}
                <div class="menu__content">
                   <!--  Necesitas esto en el urls Principal para que sirva media
                    from django.conf import settings 
                    from django.conf.urls.static import static
                    ] + static(settings.MEDIA_URL, document_root=settings.MEDIA_ROOT) -->
                    <img src="{{cortina.img.url}}" alt="" class="menu__img"> 
                    <h3 class="menu__name">{{cortina.name}}</h3>
                    <span class="menu__detail">{{cortina.description}}</span>
                    <span class="menu__preci">{{cortina.price}} x Mt </span>
                    <a href="{% url 'detalle' cortina.id %}" class="button menu__button">
                        <i class='bx bx-cart-alt'></i>
                    </a>
                </div>
                {% endfor %}
               <!--  <div class="menu__content">
                    <img src="{% static 'img/screen_satand.jpeg' %}" alt="" class="menu__img">
                    <h3 class="menu__name">Screen Satand</h3>
                    <span class="menu__detail">Gris</span>
                    <span class="menu__preci">$140.00 x Mt</span>
                    <a href="#" class="button menu__button"><i class='bx bx-cart-alt'></i></a>
                </div>-->

            </div>
        </section>
        
         <!--===== THE SWIPER =======-->
        <section class="swiper-container-main">
            <!-- Swiper -->
            <div class="swiper-container">
                <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="imgBx">
                    <img src="{% static 'img/tela1.jpeg' %}" alt="">
                    </div>
                    <div class="details">
                    <h3>Screen #1  <br> <!-- <span>Web Designer</span> --> </h3>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="imgBx">
                    <img src="{% static 'img/tela2.jpeg' %}" alt="">
                    </div>
                    <div class="details">
                        <h3>Screen #2  <br> <!-- <span>Web Designer</span> --> </h3>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="imgBx">
                    <img src="{% static 'img/tela3.jpeg' %}" alt="">
                    </div>
                    <div class="details">
                        <h3>Screen #3  <br> <!-- <span>Web Designer</span> --> </h3>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="imgBx">
                    <img src="{% static 'img/tela4.jpeg' %}" alt="">
                    </div>
                    <div class="details">
                        <h3>Screen #4  <br> <!-- <span>Web Designer</span> --> </h3>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="imgBx">
                    <img src="{% static 'img/tela5.jpeg' %}" alt="">
                    </div>
                    <div class="details">
                        <h3>Screen #5  <br> <!-- <span>Web Designer</span> --> </h3>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="imgBx">
                    <img src="{% static 'img/tela6.jpeg' %}" alt="">
                    </div>
                    <div class="details">
                        <h3>Screen #6  <br> <!-- <span>Web Designer</span> --> </h3>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="imgBx">
                    <img src="{% static 'img/tela7.jpeg' %}" alt="">
                    </div>
                    <div class="details">
                        <h3>Screen #7  <br> <!-- <span>Web Designer</span> --> </h3>
                    </div>
                </div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
                <!-- Add Arrows -->
               <!--  <div class="swiper-button-next swiper-button-black"></div>
                <div class="swiper-button-prev swiper-button-black"></div> -->
            </div>
        </section> 

        <!--===== APP =======-->
        <section class="app section bd-container">
            <div class="app__container bd-grid">
                <div class="app__data">
                    <span class="section-subtitle app__initial">Innovaciones</span>
                    <h2 class="section-title app__initial">Panel Japones</h2>
                    <p class="app__description">Son fabricadas especialmente para cubrir grandes áreas de una casa u oficina, traslapan unas con otras y se deslizan de manera vertical.

                        Estas cortinas que ofrecen un ambiente fresco, ya que están hechas para permitir el flujo del aire y además el material usado en su elaboración es especial en impedir el calor producido por los rayos solares. Vienen de uso manual o motorizada.</p>
                    <div class="app__stores">
                        <!-- <a href="#"><img src="assets/img/app1.png" alt="" class="app__store"></a>
                        <a href="#"><img src="assets/img/app2.png" alt="" class="app__store"></a> -->
                    </div>
                </div>

                <img src="{% static 'img/paneljap.jpg' %}" alt="" class="app__img">
            </div>
        </section>

        <!--========== CONTACT US ==========-->
        <section class="contact section bd-container" id="contact">
            <div class="contact__container bd-grid">
                <div class="contact__data">
                    <span class="section-subtitle contact__initial">Hablemos</span>
                    <h2 class="section-title contact__initial">Contáctenos</h2>
                    <p class="contact__description">Atenderemos cualquiera de sus inquietudes 7 días a la semana. Contáctenos ahora mismo!</p>
                </div>

                <div class="contact__button">
                    <a href="#" class="button">Contact us now</a>
                </div>
            </div>
        </section>
    </main>
    {% endblock %}
   