{% extends 'base.html' %} 
{% load static %}
{% block menu %}
<div class="nav__menu" style="margin-right: 60px;" id="nav-menu">
    <ul class="nav__list">

        <li class="nav__item"><a href="{% url 'home' %}" class="nav__link"><i class='bx bx-arrow-back'></i></a></li>
    </ul>
</div>
{% endblock %}

{% block toggle %}
<div class="nav__toggle" style="margin-right: 60px;" id="nav-toggle">
    <a href="{% url 'home' %}" class="nav__link"><i class='bx bx-arrow-back'></i></a>
</div>
{% endblock %}

{% block content %}
    <main>
      <div class="row row-cols-1 row-cols-md-2" style="margin-top: 4rem;">
        {%  for video in data %}
        <div class="col mb-4">
          <!-- Card -->
          
          <div class="card">
            
            <!--Card image-->
            <div class="view overlay">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="{{video.img}}" allowfullscreen></iframe>
              </div>
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>
      
            <!--Card content-->
            <!-- <div class="card-body"> -->
      
              <!--Title-->
             <!--  <h4 class="card-title">Card title</h4> -->
              <!--Text-->
              <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's content.</p> -->
              <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->  
            <!-- </div> -->
           
          </div>
         
          <!-- Card -->
        </div>
        {% endfor %}
      </div>
    </main>
{% endblock %}